.btn {
  border: none;
  background: #000;
  padding: 20px;
  color: rgba(255, 255, 255, .5);
  outline: none;
  font-size: 16px;
  border-radius: 3px;
  transition: .3s;
}

.btn:hover {
  color: #fff;
  transition: .3s;
  cursor: pointer;
}

.deleteBtn {
  border: none;
  background: none;
  color: #777;
  outline: none;
  font-size: 16px;
  border-radius: 3px;
  transition: .3s;
}

.deleteBtn:hover {
  color: #D90000;
  transition: .3s;
  cursor: pointer;
}

.main {
  text-align: center;
  background: #191919;
  color: #fff;
  min-height: 100vh;
  padding: 50px 20px;
}

.main * {
  font-family: 'Fira Sans', sans-serif !important;
}

.input {
  border: none;
  padding: 20px;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  background: #131313;
  color: #777;
  transition: .3s;
}

.input:focus {
  color: #fff;
  transition: .3s;
}

.contentArea {
  margin: 0 auto;
  max-width: 700px;
  display: grid;
  row-gap: 12px;
  grid-template-columns: 1fr;
}

.label {
  text-align: left;
  display: grid;
  row-gap: 5px;
}

.confirmDeleteYes {
  border: none;
  height: 35px;
  width: 75px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 3px;
  outline: none;
  font-weight: 500;
  background: #D90000;
  color: #fff;
  margin: 3px;
  transition: .3s;
}

.confirmDeleteYes:hover {
  cursor: pointer;
  background: #fff;
  color: #D90000;
  transition: .3s;
}

.confirmDeleteNo {
  border: none;
  height: 35px;
  width: 75px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 3px;
  outline: none;
  font-weight: 500;
  background: #fff;
  color: #000;
  margin: 3px;
  transition: .3s;
}

.confirmDeleteNo:hover {
  cursor: pointer;
  background: #000;
  color: #fff;
  transition: .3s;
}

.deleteBtn:before {
  content: '\f057';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  margin-right: 3px;
}