body {
  font-family: 'Fira Sans', sans-serif;
}

.postContainer {
  box-shadow: 0 0 14px rgba(0, 0, 0, .6);
  background: #171717;
  border-radius: 3px;
  overflow: hidden;
  color: #fff;
  transition: .3s;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 500px;
}

.postContainer:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, .85);
  cursor: pointer;
  transition: .3s;
}

.postContainer:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  height: 500px;
  display: grid;
}

.postContainer:first-child img {
  height: 500px;
}

.postContainer:first-child .postInfo {
  position: relative;
  top: -500px;
  height: 500px;
  background: linear-gradient(to top, black, rgba(0, 0, 0, .5));
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  align-items: end;
  display: grid;
  grid-template-rows: 1fr;
}

.postContainer:first-child .postMeta {
  position: relative;
}

.postsOuter {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
  padding: 50px 20px;
  background: #191919;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.postInfo {
  padding: 15px 25px;
  position: relative;
  height: 100%;
  position: relative;
  display: inline-table;
}

.postMeta {
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  font-weight: 500;
  color: #777;
}

#postTitle {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.postContainer:first-child .postInfo p {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70ch;
  position: relative;
  overflow: hidden;
}

.postInfo p {
  text-overflow: ellipsis;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

#postTitle:after {
  content: '';
  width: 0;
  height: 2px;
  position: relative;
  background: #fff;
  display: block;
  bottom: 0;
  transition: .2s;
  margin-top: 2px;
}

#postTitle:hover:after {
  width: 25%;
  transition: .2s;
}

img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.MuiButton-label {
  position: relative;
  right: 7px;
  top: 7px;
  font-size: 18px;
}

#loggedInUser {
  margin: 50px 0;
  text-align: center;
}

#loggedInUser span {
  font-weight: 600;
  text-transform: capitalize;
}

.postPagePagination {
  background: #191919;
  margin: 0;
  list-style: none;
  text-align: center;
  padding: 20px;
  align-items: center;
  position: relative;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.postPagePagination li {
  background: #ffffff;
  padding: 10px;
  margin: 5px;
  height: 25px;
  width: 25px;
  display: inline-grid;
  align-items: center;
  border-radius: 3px;
  font-weight: 500;
  color: #313131;
  transition: .3s;
}

.postPagePagination li#current {
  background: #000;
  color: #fff;
}

.postPagePagination li:hover {
  background: #000;
  color: #fff;
  transition: .3s;
  cursor: pointer;
}

.loadSpinner {
  height: 75vh;
  align-items: center;
  display: flex;
  background: #191919;
}

.loadSpinner div {
  margin: 0 auto;
}

.postCategories {
  display: grid;
  position: relative;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr));
  background: #191919;
  padding: 50px 20px 0 20px;
}

.categoryToggle {
  color: #fff;
  border: none;
  outline: none;
  background: #fff;
  font-family: 'Fira Sans', sans-serif;
  padding: 20px;
  border-radius: 100px;
  margin: 0 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  transition: .3s;
  opacity: .5;
}

.categoryToggle:hover {
  opacity: 1;
  transition: .3s;
  cursor: pointer;
}

.categoryToggle:nth-child(1) {
  background: linear-gradient(to right, #1510F0, #1B76FF);
}

.categoryToggle:nth-child(2) {
  background: linear-gradient(to right, #94090D, #FF1D23);
}

.categoryToggle:nth-child(3) {
  background: linear-gradient(to right, #360259, #9C27B0);
}

.categoryToggle:nth-child(4) {
  background: linear-gradient(to right, #766402, #FFD600);
}

.categoryToggle:nth-child(5) {
  background: linear-gradient(to right, #2A2C2B, #607D8B);
}

.categoryToggle:nth-child(6) {
  background: linear-gradient(to right, #33691E, #96CA2D);
}

.noPostsFound {
  text-align: center;
  color: #fff;
  height: 50vh;
  align-items: center;
  display: grid;
}