.main {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  background: #191919;
  color: #fff;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 12px;
  row-gap: 12px;
  grid-template-columns: 1fr;
  align-content: center;
  height: calc(100vh - 60px);
}

.contentMain {
  box-shadow: 0 0 14px rgba(0, 0, 0, .6);
  background: #171717;
  border-radius: 3px;
  overflow: hidden;
  color: #fff;
  transition: .3s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.contentMainNotFound {
  box-shadow: 0 0 14px rgba(0, 0, 0, .6);
  background: #171717;
  border-radius: 3px;
  overflow: hidden;
  color: #fff;
  transition: .3s;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  min-height: 500px;
}

.contentFirstCol {
  text-align: left;
  padding: 50px;
  margin: 50px 0;
  border-right: thin solid #101010;
}

.meta {
  color: #777;
}

.nickname {
  font-size: 28px;
  font-weight: 700;
  margin: 5px 0 5px 0;
}

.userDescription {
  margin: 0;
  color: #777;
  font-style: italic;
  margin: 0 0 15px 0;
}

.userExp {
  margin: 5px 0;
}

.userRanking {
  margin: 5px 0;
}

.userLevel {
  margin: 5px 0;
}

.userImageURL {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 20px;
  object-fit: cover;
  background: linear-gradient(to top, #ccc 0%, #111 100%);
  border-radius: 100%;
  position: relative;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
}

.postLinks {
  display: block;
  text-decoration: none;
  color: #777;
  transition: .3s;
  margin: 5px 0;
}

.postLinks:hover {
  color: #fff;
  transition: .3s;
}

.userPosts {
  text-align: left;
  padding: 50px;
  margin: 50px 0;
}