body {
  margin: 0;
  padding: 0;
}

.mainNav {
  text-align: center;
}

.mainNav a {
  text-decoration: none;
  padding: 5px;
  color: #aaa;
  margin: 0 10px;
  transition: .3s;
}

.mainNav a:hover {
  color: #fff;
  transition: .3s;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  height: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  position: relative;
}

.header:after {
  content: '';
  height: 3px;
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.headerUserArea {
  text-align: right;
}

.headerUserArea p {
  padding: 0;
  margin: 5px 0;
}

.loggedInUser p {
  font-size: 12px;
  line-height: 12px;
  color: #aaa;
}

.username p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.logo {
  font-size: 20px;
  line-height: 20px;
  display: initial;
}

.logo img {
  width: auto;
}

.loginErrorMessage {
  color: #FF2D00;
  text-align: center;
  animation: fadein .3s;
  font-weight: 400;
}

.loginErrorMessage:before {
  content: '\f057';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  margin-right: 3px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}